body {

}

div.page-content {
  background-image: url('/bg.jpg');
}

div.payment-form {
  /* text-align: center; */
  margin: auto;
}

#signup-button {
  text-align: center;
}

#signup-card {
  display: none;
  min-width: 80%;
}

#username-and-password-input {
  text-align: center;
}

#progress {
  visibility: hidden;
  width: 100%;
}

#validation-errors {
  color: #FFC0CB;
  text-align: center;
}

#notification {
  color: #000080;
  text-align: center;
}

#table {
  display: none;
  margin: 2em auto;
}

.in85 {
  max-width: 8.5in;
  margin: 2em auto;
}

/*
table#table, #table td, #table th {
  border-collapse: collapse;
  border: 1px solid #555;
  margin: 1em 0;
}

#table td, #table th {
  padding: 0.5em 0.1em;
}
*/

footer, footer a {
  font-size: 75%;
}

/* vim: shiftwidth=2 tw=79
 */
