body {

}

div.page-content {
  background-image: url('/bg.jpg');
  max-width: 8.5in;
  margin: auto;
}

div.payment-form {
  /* text-align: center; */
  margin: auto;
}

#signup-button {
  text-align: center;
}

#signup-card {
  display: none;
  min-width: 80%;
}

#username-and-password-input {
  text-align: center;
}

#progress {
  visibility: hidden;
  width: 100%;
}

#validation-errors {
  color: #faa;
  text-align: left;
}

#table {
  display: none;

  border-collapse: collapse;
  border: 1px solid #555;
  margin: 1em 0;
}

#table td, #table th {
  padding 0.5em 0.1em;
}

/* vim: shiftwidth=2 tw=79
 */
