[Unit]
Description=Books Renewal Webservice
Wants=nginx.service

[Service]
ExecStart=/home/renewal/books/bin/books
EnvironmentFile=/home/renewal/books/.secrets

[Install]
WantedBy=default.target
